#hrt{
  color: red;
  filter: drop-shadow(0 2px 3px rgba(0,0,0,0.7));
  font-size: 1.5em;
  /* background-color: red; */
  -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#cmnt{
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
  color:blue;
  font-size:1.3em;
}

.posts-container-wrapper {
  height: 50%;
  width: 33%;
  min-width: 400px;
  margin: 5px auto;
}
.post-header{
  display: flex;
  align-items: center;
}
.post-header h2 {
  font-size: 14px;
  font-weight: bold;
}
.post-border {
  border: 1px solid #d3d3d3;
  margin: 15px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.post-image-wrapper {
  background-color: grey;
  height: 100%;
  width: 100%;
}
.post-image {
  width: 100%;
}
.post-header {
  display: flex;
}
.post-thumb-wrapper {
  height: 50px;
  width: 50px;
}
.post-thumb {
  height: 80%;
  margin: 5px;
  border-radius: 50%;
}
.like-section {
  display: flex;
  justify-content: flex-start;
}
.like-section-wrapper {
  height: 10px;
  width: 10px;
  margin: 10px;
}
.like-number {
  width: 100px;
  margin: 15px 0px;
  font-size: 16px;
}
