.comment-text {
  text-align: left;
  padding: 3px 5px;
  margin-left: 5px;
}
.comment {
  font-size: 16px;
  vertical-align: middle;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 92%;
  font-size: 14px;
  padding: 10px;
  border: 1px solid gray;
  border-top: 1px solid gray;
  border-radius: 5px;
  color: black;
}
.user {
  font-size: 14px;
  color: black;
  font-weight: bold;
  vertical-align: middle;
}