@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.comment-text {
  text-align: left;
  padding: 2px;
  margin-left: 4px;
}
.comment {
  font-size: 16px;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 90%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
}
.user {
  font-size: 14px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}
.time{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}
