.CommentSection {
  margin-left: 10px;
  margin-right: 10px;
}

.comment-text {
  text-align: left;
  padding: 2px;
}
.comment {
  font-size: 12px;
}
.comment-form  {
  margin: 10px 0;
  width: 100%;
}
.comment-form input {
  width: 98%;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-top: 1px solid #efefef;
  color: #999;
}
.user {
  font-size: 12px;
  color: black;
  font-weight: bold;
}