.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}

.search-form {
  width: 150px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.search-form input {
  text-align: center;
  color: #262626;
}

.search-form i {
  position: absolute;
  margin-left: 45px;
}

.image-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}

.image-wrapper i {
  padding-right: 10px;
}

.image-wrapper h3 {
  border-left: 1px solid lightgray;
  padding-left: 10px;
  font-family: 'Lobster', cursive;;
}