.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
}

.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
}
.image-wrapper {
  height: 25px;
  margin-top: 5px;
  padding-left: 10px;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}


.logo-social {
  width: 50px;
  display: flex;
  align-items: center;
}

.input-search {
  margin-left: -335px;
}